.App {
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 14px;

}

.Heading {
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
  color: rgb(197, 8, 8);
}

.App-link {
  color: #61dafb;
}

.Dropdown {
  text-align: center;
  border: 1px red;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;

}

.Selects {
  text-align: center;
  padding: 10px 20px 10px 20px;
}
.Btns {
  text-align: center;
  padding: 10px;
}




